<form action="/login/register" method="POST">
    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
    <div class="form-group">
        <p>Preencha o formulário para criar uma conta.</p>
        <label>Seu e-mail</label>
        <input type="email" class="form-control" name="email">
    </div>

    <div class="form-group">
        <label>Crie uma senha</label>
        <input type="password" class="form-control" name="password">
    </div>

    <button type="submit" class="btn btn-primary">Criar minha conta</button>
</form>